:root {
    --primary: #2d2929;
    --secundary: #cf1111;
    --third: #6058ba;
    --fourth: #21da33;
    --fifth: #d9d9d9;
    --sixth: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.background-all{
    background-image: url('../img/ondas.svg');
    background-repeat: no-repeat;
    position: relative;
    background-position: bottom;
    background-attachment: fixed;
}
