:root {
    --primary: #2d2929;
    --secundary: #cf1111;
    --third: #6058ba;
    --fourth: #21da33;
    --fifth: #d9d9d9;
    --sixth: #ffffff;
}

/* * {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}
 */
